.header {
    padding: 20px 20px 15px;
    background-color: #eee;
    border-bottom: 2px solid #dbd9d9;
    margin-bottom: 10px;
}
.header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.header a {
    padding: 10px 0;
}
.image-preview {
    text-align: right;
}
.image-preview img {
    width: 200px;
    margin: 0 10px 10px;
}
.image-details button {
    margin: 10px 0 0 10px;
    float: right;
}
.gallery-admin .media-heading {
    margin-top: 5px;
    margin-bottom: 0;
}
.gallery-admin img {
    width: 260px;
}
.gallery-admin li {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #dbd9d9;
    border-radius: 5px;
}
.gallery-item {
    display: inline-block;
    margin: 5px 0;
}
.gallery .gallery-item {
    padding: 0 5px;
}
.gallery h4 {
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: bold;
    color: #fff;
}
.gallery img {
    width: 100%;
}
.tooltip-text {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #dbd9d9;
}
.tooltip-icon {
    width: 25px;
    height: 26px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    font-family: serif;
}
.tooltip-icon:hover+.tooltip-content {
    display: block;
}
.tooltip-content {
    display: none;
    background-color: #524343;
    opacity: 0.8;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 65px;
    left: 20px;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 1rem;
    word-break: break-all;
}
.tooltip-content:before {
    bottom: 100%;
    right: 14px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(82, 67, 67, 0);
    border-bottom-color: #524343;
    border-width: 10px;
    margin-left: -10px;
}
.tooltip-content:empty {
    display: none;
}

@media screen and (max-width: 560px) {
    .gallery-admin .media-left {
        display: block;
        padding: 0;
        margin: 0 auto;
    }
    .gallery-admin img {
        display: block;
        margin: auto;
    }
    .header .container {
        padding: 0;
    }
}